# Python junk
__pycache__/
*.pyc
tmp/

# Editor junk
.vscode/
.editorconfig

# System junk
.DS_Store
Thumbs.db
build-errors.log

# dev stuff
*.sql

# Binaries
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# IDE
.vscode/
.idea/