# Python junk
__pycache__/
*.pyc

# Editor junk
.vscode/

# System junk
.DS_Store
Thumbs.db

# dev stuff
notes.md

# Binaries
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# IDE
.vscode/
.idea/